<%- include('partials/header') %>


<div class="centered">
  <h1 class="secret-text">Tame your chaos, one task at a time</h1>

  <a class="btn " href="/register" role="button">Register</a>
  <a class="btn " href="/login" role="button">Login</a>
</div>

<%- include('partials/footer') %>
